@import '../../../../node_modules/client_portal-assets/dist/sass/colours';

.feedbackify {
  font-weight: bold;
  z-index: 10000;
  position: fixed;
  top: 50%;
  right: -40px;
  color: white;
  background-color: $reevoo-orange;
  font-size: 20px;
  padding: 10px;
  padding-bottom: 17px;
  cursor: pointer;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);

  &:hover {
    right: -35px;
  }
}
