@import '../../../../node_modules/client_portal-assets/dist/sass/colours';

.header-actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 25px;
  margin-right: 26px;
  margin-top: 10px;

  a {
    margin-left: 10px;
  }

  &__text {
    font-size: 16px;
    color: #fff;

    &:hover {
      color: $reevoo-blue;
    }
  }
}

.modules-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-left: 15px;

  &__icon {
    margin-right: 15px;
  }
}
