@import '../../../../node_modules/client_portal-assets/dist/sass/colours';

.filter-preview {
  &:hover {
    cursor: pointer;
  }

  &__title {
    font-size: 13px;
    margin: 30px 0;
    text-transform: uppercase;

    &:hover, &:active {
      color: $dark-sky-blue;
    }
  }

  &__values {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }
}
