@import '../../../../node_modules/client_portal-assets/dist/sass/colours';

.header {
  &__burger {
    background-color: $reevoo-orange;

    &:hover {
      background-color: $reevoo-light-orange;
    }
  }

  &__logo {
    color: #fff;
    display: inline-block;
    height: 100%;
    padding: 10px 15px 0 15px;

    &:hover {
      background-color: $reevoo-light-orange;
    }

    span {
      margin-top: -3px;

      &:before {
        font-size: 40px;
      }
    }
  }
}
