.dashboard-panel {
  margin: 136px 72px 48px;
  transition: all 450ms cubic-bezier(.23, 1, .32, 1) 0ms;
  width: 927px;

  &.collapsed {
    padding-left: 256px;
  }

  &.expanded {
    padding-left: 0;
  }

  &__header {
    margin-bottom: 30px;
  }

  iframe {
    border: 0;
    height: 2500px;
    width: 1000px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
