@import '../../../../node_modules/client_portal-assets/dist/sass/colours';

.client-portal-modules {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 560px;
}

.client-portal-module {
  font-size: 15px;
  margin: 27px 38px;
  text-decoration: none;

  &:hover {
    opacity: .7;
  }

  &__name {
    color: $medium-text-color;
    text-align: center;
  }

  &__image {
    height: 100px;
    width: 100px;
  }
}
