<html>
  <head>
    <meta charset="utf-8">
    <title>Client Portal Analytics</title>
    <script src="<%= htmlWebpackPlugin.options.tableauUrl %>"></script>
  </head>
  <body>
    <div id="app" />
    <script type="application/javascript">
      var fby = fby || [];
      (function () {
        var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
        f.src = '//cdn.feedbackify.com/f.js';
        var s = document.getElementsByTagName('title')[0]; s.parentNode.insertBefore(f, s);
      })();
    </script>
  </body>
</html>
